body {
	height: 100%;
	margin: 0;
}

.background {
	position:        absolute;
	width:           100%;
	height:          100%;
	background-size: cover;
}

#backBackground {
	background-image: url("img/white.gif");
}

.fadeable {
	-webkit-transition: opacity 1s ease-in-out;
	   -moz-transition: opacity 1s ease-in-out;
	     -o-transition: opacity 1s ease-in-out;
	        transition: opacity 1s ease-in-out;
}
