body {
	height: 100%;
	margin: 0;
}

.background {
	position: absolute;
	width:    100%;
	height:   100%;
	background-size: cover;
}

#backBackground {
	background-image: url("img/white.gif");
}

.fadeable {
	transition: opacity 1s ease-in-out;
}
